.Flipper {
  background-color: #8a3a3b;
  border-radius: 5px;
  max-width: 200px;
  min-height: 4em;
  text-transform: uppercase;
  width: 50vw;
  border: none;
  color: white;
  font-size: medium;
  letter-spacing: 3px;
  outline: none;
}

.Flipper:active {
  background-color: #d15b5d;
}
