.Home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.Home-logo {
  animation: Home-logo-spin infinite 2s linear;
  height: 80px;
}

.Home-header {
  background-color: rgb(138, 59, 59);
  height: 150px;
  padding: 20px;
  color: white;
}

.Home-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.Home-main-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  min-height: 300px;
  align-items: center;
}

.Home-footer {
  padding: 20px;
}

@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
